<aside >

  <div class="container">
    <!---->
    <div class="box">
      <button type="button" routerLinkActive="btn-ativo" id="butons" routerLink="/" [routerLinkActiveOptions]={exact:true}><a > Dados do Proponente</a></button>
      </div>
    <!--
  <div class="box">
  <button type="button" routerLinkActive="btn-ativo"  routerLink="/devolutiva"><a >Devolutivas</a></button>
  </div>
 
  <div class="box">
  <button type="button" routerLinkActive="btn-ativo" routerLink="/dados-da-proposta" ><a> Dados da Proposta</a></button>
  </div>
-->

  
  </div>
  
  </aside>
  